<template>
	<div id="app">
		<Menu></Menu>
		<router-view />
	</div>
</template>

<script>
import Menu from "./Menu";

export default {
	name: "App",
	components: {
		Menu
	}
};
</script>
<style lang="scss">
a {
	text-decoration: none;

	&:visited {
		color:inherit;
	}
}

li {
	list-style: none;
}
body {
	background: #f8f8f8;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}
</style>
