<template>
    <ul>
        <li>
            <label class="item-header" for="attr">Attribute:</label>
            <input class="item-body" type="text" v-model="name" @change="onAttributeNameChange" />
        </li>
        <li>
            <label class="item-header">type:</label>
            <data-type class="item-body" @emitSelectDataType="onSelectDataType" :type="type"></data-type>
        </li>
        <li>
            <label class="item-header" for="desc">Description:</label>
            <input class="item-body" type="text" v-model="desc" @change="onAttributeDescChange" />
        </li>
        <li>
            <a href="javascript:void(0);" class="delete" @click="onDeleteAttribute">
                <i>X</i>
            </a>
        </li>
    </ul>
</template>

<script>
import DataType from "./DataType";

export default {
	components: {
        DataType,
    },
    computed: {},
    props: ["schemaID", "data"],
	data() {
		return {
            name: this.data.name,
            type: this.data.type,
            desc: this.data.desc
        };
	},
	created() {},
	mounted() {},
	methods: {
        onSelectDataType(val) {
            this.type = val;
            this.$store.dispatch("schema/setAttributeType", {
                schemaID: this.schemaID,
                attributesID: this.data.attributesID,
				attributeType: this.type,
			})
        },
        onDeleteAttribute() {
            this.$store.dispatch("schema/deleteAttribute", {
                schemaID: this.schemaID,
                attributesID: this.data.attributesID
            })
        },
        onAttributeNameChange() {
			this.$store.dispatch("schema/setAttributeName", {
                schemaID: this.schemaID,
                attributesID: this.data.attributesID,
				attributeName: this.name,
			})
		},
		onAttributeDescChange() {
			this.$store.dispatch("schema/setAttributeDesc", {
                schemaID: this.schemaID,
                attributesID: this.data.attributesID,
				attributeDesc: this.desc,
			})
		},
    },
};
</script>