<template>
	<div>
		<select @change="onSelectDataType">
			<option value="0">Select Type:</option>
			<option value="array">array</option>
			<option value="uint8">uint8</option>
			<option value="uint64le">uint64le</option>
			<option value="object">object</option>
			<option value="string">string</option>
		</select>
	</div>
</template>

<script>
export default {
	props: ["type"],
	data() {
		return {
			selectedDataType: this.type
		};
	},
	methods: {
		onSelectDataType(event) {
			this.$emit("emitSelectDataType", event.target.value);
		}
	}
};
</script>