<template>
	<div class="tab-size group">
		<attribute :schemaID="schemaID" :data="data"></attribute>
		<item-container v-if="data.type === 'array' || data.type === 'object'" :schemaID="schemaID" :data="data"></item-container>
	</div>
</template>

<script>
import Attribute from "./Attribute";
import ItemContainer from "./ItemContainer";

export default {
	components: {
        Attribute,
		ItemContainer
	},
	computed: {},
	props: ["data", "schemaID"],
	data() {
		return {};
	},
	created() {},
	mounted() {},
	methods: {
    },
};
</script>