<template>
	<div class="item-container">
		<div class="title">
			<span class="item-content">content:</span>
			<a href="javascript:void(0);" class="button" @click="onAddAttribute">
				<span>add Attribute</span>
			</a>
		</div>
		<template v-for="(item, index) in getAttribute()">
        	<group class="tab-size type-content" :data="item" :schemaID="schemaID" :key="index"></group>
		</template>
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	components: {
		Group: () => import("./Group"),
	},
	computed: {
		...mapGetters("schema", [
			"getAttributesBySchema"
		])
	},
	props: ["schemaID", "data"],
	data() {
		return {};
	},
	created() {},
	mounted() {},
	methods: {
		getAttribute() {
			const attribute = this.getAttributesBySchema(this.schemaID, this.data.attributesID);
			
			return attribute.content;
		},
		onAddAttribute() {
			this.$store.dispatch("schema/addAttribute", {
				schemaID: this.schemaID,
				attributesID: this.data.attributesID,
			})
		},
	},
};
</script>