<template>
    <div class="slide-menu">
        <ul>
            <li v-for="(item, index) in menuList" :key="index" :class="{active: selectedIndex === index}" @click="onSelected(index)">
                {{item.content}}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            selectedIndex: 0,
        }
    },
    computed: {
        menuList() {
            return this.$router.options.routes
        }
    },
    mounted() {
        const { history, options } = this.$router;
        const index = options.routes.findIndex(item => item.path === history.current.path);

        console.log(this.$router);
        this.selectedIndex = index;
    },
    methods: {
        onSelected(index) {
            const { options } = this.$router;
            this.selectedIndex = index;
            window.location.href = options.routes[index].path;
        }
    }
}
</script>

<style lang="scss">
.slide-menu {
    position: fixed;
    display: block;
    width: 180px;
    height: 100vh;
    background: #3e3e3e;
    color: #ffffff;
    top: 0;
    left: 0;
    box-shadow: 0 3px 13px 0 rgba(18,43,70,.1);

    ul {
        margin-top: 20%;
        text-align: left;
        li {
            transition: opacity 0.3s;
            padding: 10px ;
            padding-left: 20px;
            cursor: pointer;

            &:hover, &.active {
                opacity: 0.7;
                background: #6b6767;
            }
        }
    }
}
</style>