<template>
	<div class="sdk-form">
		<div>
			<div class="title">
				<span>schema:</span>
				<a href="javascript:void(0);" class="delete" @click="onDeleteSchema">
					<i>X</i>
				</a>
			</div>
			<ul class="tab-size">
				<li>
					<label for="key">Name:</label>
					<input type="text" v-model="schemaName" @change="onSchemaNameChange" />
				</li>
				<li>
					<label for="code">Code:</label>
					<input type="text" v-model="schemaCode" @change="onSchemaCodeChange" />
				</li>
				<li>
					<label for="desc">Description:</label>
					<input type="text" v-model="schemaDesc" @change="onSchemaDescChange" />
				</li>
			</ul>
		</div>
		<div>
			<div class="title">
				<span>structure</span>
				<a href="javascript:void(0);" class="button" @click="onAddAttribute">
					<span>add Attribute</span>
				</a>
			</div>
			<template v-for="(item, index) in getAttribute()">
				<group :data="item" :schemaID="schemaID" :key="index + '_' + item.id"></group>
			</template>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import Group from "./Group";

export default {
	components: {
		Group,
	},
	props: {
		schemaID: String,
	},
	data() {
		return {
			schemaName:"",
			schemaCode: "",
			schemaDesc: "",
		};
	},
	created() {},
	mounted() {},
	computed: {
		...mapGetters("schema", [
			"getAttributesBySchema"
		])
	},
	methods: {
		getAttribute() {
			const attribute = this.getAttributesBySchema(this.schemaID, []);

			return attribute.content;
		},
		onDeleteSchema() {
			this.$store.dispatch("schema/deleteSchema", this.schemaID);
		},
		onSchemaNameChange() {
			this.$store.dispatch("schema/setSchemaName", {
				schemaID: this.schemaID,
				schemaName: this.schemaName,
			})
		},
		onSchemaCodeChange() {
			this.$store.dispatch("schema/setSchemaCode", {
				schemaID: this.schemaID,
				schemaCode: this.schemaCode,
			})
		},
		onSchemaDescChange() {
			this.$store.dispatch("schema/setSchemaDesc", {
				schemaID: this.schemaID,
				schemaDesc: this.schemaDesc,
			})
		},
		onAddAttribute() {
			this.$store.dispatch("schema/addAttribute", {
				schemaID: this.schemaID,
				attributesID: [],
			})
		},
	},
};
</script>