<template>
	<div class="sdk-parse">
		<a href="javascript:void(0);" class="button" @click="addSchema">
			<span>add Schema</span>
		</a>
		<template v-for="(item) in getSchema">
			<SDKForm :schemaID="item.id" :key="item.id"></SDKForm>
		</template>
		<a href="javascript:void(0);" class="button" @click="generateSDK">
			<span>Confirm</span>
		</a>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import SDKForm from "./SDKForm";


export default {
	components: {
		SDKForm,
	},
	computed: {
		...mapGetters("schema", [
			"getSchema"
		])
	},
	data() {
		return {};
	},
	created() {},
	mounted() {},
	methods: {
		...mapActions("schema", [
			"addSchema",
		]),
		generateSDK () {
			this.$store.dispatch("schema/generate");
		}
	},
};
</script>

<style lang="scss">
.tab-size {
	margin-left: 2em;
}

.button {
	display: inline-block;
	border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;

	&:hover {
		background-color: #5a6268;
	}
}

.sdk-parse {
	margin-left: 200px;
	margin-top: 10%;
}

.sdk-form {
	width: 80%;
    margin: 10px auto;
    text-align: left;
    border: 1px solid #dfdfdf;
    padding: 15px;
    border-radius: 20px;

	.group {
		border-top: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
		border-left: 1px solid #dfdfdf;

		&:last-child {
			border-bottom: 1px solid #dfdfdf;
		}
	}

	ul {
		li {
			display: inline-block;
			padding: 10px;

			.item-header {
				display: inline-block;
			}

			.item-body {
				width: auto;
				display: inline-block;
			}

		}
	}

	.item-container {
		display: block;
		padding: 10px;

		.item-content {
			padding: 10px;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}
.title {
	font-weight: bold;
	padding-bottom: 10px;

	.delete {
		float: right;
    	color: #000000;
		cursor: pointer;

	}
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}
</style>
