<template>
	<ul class="dice">
		<li
			v-for="(item, index) in data"
			:class="{'dice-wrap': true, selected: selectDiceIndex === index}"
			:key="index + '_' + item"
			@click="onSelectEditDice($event, index)"
		>
			<i :class="getDiceNumber(item)"></i>
		</li>
		<li>
			<ul :class="{'select-dice': true, active: isShowEditDice}">
				<li v-for="n in 6" class="dice-wrap" :key="n" @click="onSelectDice($event, n)">
					<i :class="getDiceNumber(n)"></i>
				</li>
				<li>
					<a href="javascript:void(0);" @click="onCloseDiceSelector">X</a>
				</li>
			</ul>
		</li>
	</ul>
</template>

<script>
export default {
	props: ["data", "selectDocumentKey"],
	data() {
		return {
			isShowEditDice: false,
			selectDiceIndex: -1,
		};
	},
	methods: {
		getDiceNumber(num) {
			return "dice-" + num;
		},
		onSelectDice(event, value) {
			if (this.selectDiceIndex < 0) {
				alert("index error");
				return;
			}

			this.$store.dispatch("mahjong/updateDice", {
				value,
				key: this.selectDocumentKey,
				index: this.selectDiceIndex,
			});
			this.isShowEditDice = false;
			this.selectDiceIndex = -1;
		},
		onSelectEditDice(event, index) {
			this.selectDiceIndex = index;
			this.isShowEditDice = true;
		},
		onCloseDiceSelector() {
			this.selectDiceIndex = -1;
			this.isShowEditDice = false;
		},
	},
};
</script>

<style lang="scss">
.dice {
	padding: 10px;
	position: relative;

	.select-dice {
		position: absolute;
		top: -65px;
		bottom: 0;
		right: 0;
		left: 0;
		border: 1px solid #af9a7c;
		width: fit-content;
		height: fit-content;
		margin: 0 auto;
		padding: 10px;
		border-radius: 12px;
		background-color: #fff2df;
		transition: transform .25s ease-in-out;
		transform: scale(0);
		transform-origin: bottom;

		&.active {
			transform: scale(1);
		}

		a {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(50%, -50%);
			padding: 10px;
			background-color: #dddddd;
			border-radius: 50%;
			cursor: pointer;
			transition: transform 0.25s ease-in-out;

			&:hover {
				transform: translate(50%, -50%) scale(1.2);
			}
		}
	}

	.dice-wrap {
		cursor: pointer;
		display: inline-block;
		margin: 0 5px;
		border: 2px solid #000000;
		border-radius: 5px;
		transition: .25s ease-in-out;

		&:hover {
			background-color: #fff2df;
			transform: scale(1.2);
		}

		&.selected {
			background-color: #fff2df;
		}
	}
	.dice-wrap i {
		background-image: url("../../assets/mahjong/dice.svg");
		background-size: 40px auto;
		width: 40px;
		height: 40px;
		display: block;
	}

	.dice-wrap i:last-child {
		margin-right: 0 !important;
	}

	.dice-1 {
		background-position: -1px 0;
	}

	.dice-2 {
		background-position: -1px -40px;
	}

	.dice-3 {
		background-position: -1px -80px;
	}

	.dice-4 {
		background-position: -1px -120px;
	}

	.dice-5 {
		background-position: -1px -160px;
	}

	.dice-6 {
		background-position: -1px -200px;
	}
}
</style>