<template>
	<div class="container">
		<div :class="{ mask: true, active: isShowTilesSelector}"></div>
		<div class="document">
			<div class="option">
				<select @change="onSelectDocument" v-model="selectDocumentKey">
					<option v-for="item in getDocumentList" :value="item" :key="item">{{item}}</option>
				</select>
				<div class="btn" @click="onDeleteDocument">
					<span>delete</span>
				</div>
			</div>
			<div class="option">
				<div>
					<input type="text" v-model="newDocumentKey" />
				</div>
				<div class="btn" @click="onCreateNewDocument">
					<span>add</span>
				</div>
			</div>
		</div>
		<dice :data="getDice" :selectDocumentKey="selectDocumentKey"></dice>
		<div class="title">
			<span>牌牆</span>
		</div>
		<tiles :data="getWall">
			<li slot="addTile" class="mahjong add-tile" @click="onSelectEditTiles(getWall, -1)">
				<i>+</i>
			</li>
		</tiles>
		<ul>
			<div v-for="(name, index) in players" :key="name" class="player">
				<div class="title">
					<span>{{name}}</span>
					<i :class="{banker: true, active: getBanker === index}"></i>
				</div>
				<tiles :data="getHandTiles(index)">
					<li
						slot="addTile"
						class="mahjong add-tile"
						@click="onSelectEditTiles(getHandTiles(index), index)"
					>
						<i>+</i>
					</li>
				</tiles>
			</div>
		</ul>
		<popup-tiles-selector
			v-if="isShowTilesSelector"
			:data="selectEditTiles"
			:isBanker="getBanker === selectEditType"
			:selectEditType="selectEditType"
			@onCloseTilesSelector="onCloseTilesSelector"
			@onConfirmClick="onConfirmClick"
		></popup-tiles-selector>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Tiles from "./Tiles";
import PopupTilesSelector from "./PopupTilesSelector";
import Dice from "./Dice";

const EDIT_TYPE = {
	WALL: -1,
	SELF: 0,
	RIGHT: 1,
	UP: 2,
	LEFT: 3,
};

export default {
	computed: {
		...mapGetters("mahjong", [
			"getDocumentList",
			"getWall",
			"getHandTiles",
			"getDice",
			"getBanker",
		]),
	},
	components: {
		Tiles,
		PopupTilesSelector,
		Dice,
	},
	data() {
		return {
			players: ["本家", "下家", "對家", "上家"],
			delay: 700,
			clicks: 0,
			timer: null,
			selectEditTiles: [],
			selectEditType: EDIT_TYPE.WALL,
			isShowTilesSelector: false,
			selectDocumentKey: "",
			newDocumentKey: "",
		};
	},
	created() {},
	mounted() {
		this.$store.dispatch("mahjong/queryDocumentList").then((data) => {
			this.selectDocumentKey = data[0];
			this.$store.dispatch("mahjong/queryDocument", this.selectDocumentKey);
		});
	},
	methods: {
		onSelectDocument(event) {
			this.$store.dispatch("mahjong/queryDocument", this.selectDocumentKey);
		},
		getTileClassName(id) {
			return "mahjong mahjong_" + id;
		},
		getTile(id) {
			return {
				backgroundImage: `url(${require("@/assets/mahjong/Mahjong_" +
					id +
					".png")})`,
			};
		},
		onSelectEditTiles(data, type) {
			this.isShowTilesSelector = true;
			this.selectEditTiles = data;
			this.selectEditType = type;
		},
		onCloseTilesSelector() {
			this.selectEditTiles = [];
			this.isShowTilesSelector = false;
		},
		onConfirmClick (data) {
			if (this.selectEditType === -1) {
				this.$store.dispatch("mahjong/updateTiles", {
					key: this.selectDocumentKey,
					data: { wall: data },
				});
			} else {
				let handList = [];

				for (let i = 0; i < 4; i++) {
					handList.push(
						i === this.selectEditType ? data : this.getHandTiles(i)
					);
				}

				this.$store.dispatch("mahjong/updateTiles", {
					key: this.selectDocumentKey,
					data: { handList },
				});
			}

			this.isShowTilesSelector = false;
		},
		onCreateNewDocument() {
			if (this.newDocumentKey.length === 0) {
				alert("請輸入名稱");
				return;
			}

			this.$store
				.dispatch("mahjong/createDocument", this.newDocumentKey + "-6")
				.then(() => {
					alert("新增成功");
					return this.$store.dispatch("mahjong/queryDocumentList");
				})
				.then((data) => {
					const index = data.indexOf(this.newDocumentKey + "-6");

					this.selectDocumentKey = data[index];
					this.$store.dispatch("mahjong/queryDocument", this.selectDocumentKey);
					this.newDocumentKey = "";
				})
				.catch((err) => {
					alert(err);
				});
		},
		onDeleteDocument() {
			this.$store
				.dispatch("mahjong/deleteDocument", this.selectDocumentKey)
				.then(() => {
					alert("刪除成功");
					return this.$store.dispatch("mahjong/queryDocumentList");
				})
				.then((data) => {
					this.selectDocumentKey = data[0];
					this.$store.dispatch("mahjong/queryDocument", this.selectDocumentKey);
				})
				.catch((err) => {
					alert(err);
				});
		},
	},
};
</script>

<style lang="scss">
a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	width: 80%;
	margin: 0 auto;
	margin-left: 200px;
	margin-top: 10%;

	.document {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.option {
			display: flex;
			justify-content: center;
			align-items: center;

			div {
				margin: 5px;
			}
		}
	}

	.title {
		font-weight: bolder;
		padding-bottom: 10px;
		border-bottom: 1px solid #dfdfdf;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.player {
		margin-top: 10px;

		.banker {
			background-image: url("../../assets/mahjong/Banker.png");
			width: 40px;
			height: 45px;
			background-size: contain;
			background-repeat: no-repeat;
			display: none;

			&.active {
				display: initial;
			}
		}
	}

	.mask {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		background-color: #000000;
		opacity: 0;
		transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

		&.active {
			width: 100%;
			height: 100%;
			opacity: 0.7;
			transition: opacity 0.3s;
		}
	}

	.btn {
		padding: 10px;
		border-radius: 10px;
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
		cursor: pointer;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		&:hover {
			color: #fff;
			background-color: #0069d9;
			border-color: #0062cc;
		}
	}
}
</style>
