<template>
	<div class="tiles-selector">
		<div class="editor">
			<div class="title">
				<span>選擇器</span>
				<a href="javascript:void(0);" @click="onCloseTilesSelector">X</a>
			</div>
			<tiles :data="wan" @onTileClick="onAddTileClick">
				<div v-for="(item, itemIndex) in wan" :slot="'leftTileNum' + item" :key="itemIndex + '_' + item">{{ "剩" + leftTiles['id_' + item] + "張" }}</div>
			</tiles>
			<tiles :data="tong" @onTileClick="onAddTileClick">
				<div v-for="(item, itemIndex) in tong" :slot="'leftTileNum' + item" :key="itemIndex + '_' + item">{{ "剩" + leftTiles['id_' + item] + "張" }}</div>
			</tiles>
			<tiles :data="tiao" @onTileClick="onAddTileClick">
				<div v-for="(item, itemIndex) in tiao" :slot="'leftTileNum' + item" :key="itemIndex + '_' + item">{{ "剩" + leftTiles['id_' + item] + "張" }}</div>
			</tiles>
			<tiles :data="word" @onTileClick="onAddTileClick">
				<div v-for="(item, itemIndex) in word" :slot="'leftTileNum' + item" :key="itemIndex + '_' + item">{{ "剩" + leftTiles['id_' + item] + "張" }}</div>
			</tiles>
		</div>
		<div class="preview">
			<div class="title">
				<i :class="{banker: true, active: isBanker}"></i>
				<span>預覽</span>
				<span>{{ "目前張數: " + previewData.length }}</span>
			</div>
			<tiles :data="previewData" @onTileClick="onPreviewTilesClick"></tiles>
		</div>
		<div class="btn" @click="onConfirmClick">
			<span>confirm</span>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import Tiles from "./Tiles";

const WALL_TIELS_TOTAL = 83;
const TILES_TOTAL = 13;
const BANKER_TILES_TOTAL = 14;

export default {
	computed: {
		...mapGetters("mahjong", ["islegalTiles", "getLefTilesNum"]),
	},
	components: {
		Tiles,
	},
	props: ["data", "isBanker", "selectEditType"],
	data() {
		let wan = [];
		let tong = [];
		let tiao = [];
		let word = [];

		for (let i = 1; i < 10; i++) {
			wan.push(i);
		}
		for (let i = 11; i < 20; i++) {
			tong.push(i);
		}
		for (let i = 21; i < 30; i++) {
			tiao.push(i);
		}
		for (let i = 31; i < 38; i++) {
			word.push(i);
		}

		return {
			delay: 700,
			clicks: 0,
			timer: null,
			wan,
			tong,
			tiao,
			word,
			previewData: this.data.concat(),
			leftTiles: {},
		};
	},
	mounted() {
		this.leftTiles = this.getLefTilesNum;
	},
	methods: {
		isDobuleClick() {
			this.clicks++;
			if (this.clicks === 1) {
				this.timer = setTimeout(() => {
					this.clicks = 0;
				}, this.delay);

				return false;
			} else {
				clearTimeout(this.timer);
				this.clicks = 0;
				return true;
			}
		},
		onCloseTilesSelector() {
			this.previewData = [];
			this.$emit("onCloseTilesSelector");
		},
		onAddTileClick(event, index, value, methodParams) {
			this.previewData.push(value);
			this.leftTiles["id_" + value]--;
		},
		onPreviewTilesClick(event, index, value, methodParams) {
			if (this.isDobuleClick()) {
				this.previewData.splice(index, 1);
				this.leftTiles["id_" + value]++;
			}
		},
		onConfirmClick() {
			if (this.selectEditType === -1) {
				if (this.previewData.length > WALL_TIELS_TOTAL) {
					alert("張數過多");
					return;
				}
			} else {
				if (this.isBanker && this.previewData.length != BANKER_TILES_TOTAL) {
					alert("莊家張數必須為" + BANKER_TILES_TOTAL + "張");
					return;
				} else if (!this.isBanker && this.previewData.length != TILES_TOTAL) {
					alert("張數必須為" + TILES_TOTAL + "張");
					return;
				}
			}

			const { legal, reason } = this.islegalTiles({
				tileList: this.previewData,
				seatID: this.selectEditType,
			});

			if (legal) {
				this.$emit("onConfirmClick", this.previewData);
			} else {
				alert("張數不合法: " + reason);
				return;
			}
		},
	},
};
</script>

<style lang="scss">
.tiles-selector {
	background-color: #a2a2a2;
	border: 1px solid #b7b7b7;
	border-radius: 10px;
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	z-index: 9999;

	.banker {
		background-image: url("../../assets/mahjong/Banker.png");
		width: 40px;
		height: 45px;
		background-size: contain;
		background-repeat: no-repeat;
		display: none;

		&.active {
			display: initial;
		}
	}

	.title {
		a {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(50%, -50%);
			padding: 10px;
			background-color: #dddddd;
			border-radius: 50%;
			cursor: pointer;
			transition: transform 0.25s ease-in-out;

			&:hover {
				transform: translate(50%, -50%) scale(1.2);
			}
		}
	}

	.editor {
	}

	.tiles {
		.mahjong {
			width: 70px;
			height: 90px;
			cursor: pointer;
			transition: transform 0.25s ease-in-out;
			margin: 5px 0;

			&:hover {
				transform: scale(1.2);
			}

			i {
				height: 80%;
			}
		}
	}

	.preview {
		margin-bottom: 30px;
	}

	.btn {
		width: 80%;
	}
}
</style>