<template>
	<ul class="tiles">
		<li v-for="(item, itemIndex) in data" :key="itemIndex + '_' + item" class="mahjong" @click="onTileClick($event, itemIndex, item)">
			<i :style="getTile(item)"></i>
			<slot :name="'leftTileNum' + item"></slot>
		</li>
		<slot name="addTile"></slot>
	</ul>
</template>

<script>
export default {
    props: ["data", "methodParams"],
    data() {
		return {

		}
	},
    methods: {
        getTile(id) {
			return {
				backgroundImage: `url(${require("@/assets/mahjong/Mahjong_" + id + ".png")})`,
			};
		},
		onTileClick(event, index, value) {
			this.$emit("onTileClick", event, index, value, this.methodParams);
		}
    }
}
</script>

<style lang="scss">
.tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.mahjong {
	width: 50px;
    height: 65px;
	display: inline-block;
	
	i {
		display: block;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		// background-image: url("../assets/mahjong/Mahjong_1.png");
	}

	&.add-tile {
		border: 1px solid #b5b3b3;
		border-radius: 10px;
		line-height: 65px;
		cursor: pointer;
		transition: transform 0.25s ease-in-out;

		&:hover {
			background-color: #6b98c7;
			transform: scale(1.2);
		}
	}
}
</style>